name: Deploy to EC2

on:
  push:
    branches:
      - main  # 배포브랜치명

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Create application-core.yml
        run: |
          mkdir -p src/main/resources
          echo "${{ secrets.APPLICATION_CORE_YML }}" > src/main/resources/application-core.yml

      - name: Build with Gradle
        run: ./gradlew clean build -x test  # 테스트 제외하고 빌드

      - name: Copy jar to EC2
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "build/libs/*.jar"
          target: "/home/${{ secrets.EC2_USERNAME }}/app"
          strip_components: 2  # build/libs/ 경로 제거

      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            bash /home/${{ secrets.EC2_USERNAME }}/deploy.sh